@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.conoscoz{
    display: none;
}

*{
    padding:0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.topo{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1;

}

.logo{
flex:20px;
margin-left: 20px;
padding:4px;
}

.fale-conosco{
flex:80px;
margin-right: 50px;
text-align: right;
}

.img-logo{
    width: 380px;
    margin-top: -70px;
    margin-bottom: -80px;
    margin-left: 50px;
}

.fale-conosco a{
    text-decoration: none;
    color: #593caa;
    padding: 7px 15px;
    font-size: 19px;
}

.fale-conosco :hover{
    color: #ffc046;
    border-top: solid 2px #ffc046;
}

#botao{
    background-color:#ffc046;
    color: rgb(0, 0, 0);
    border-radius: 6px;
    font-size: 23px;
    padding: 8px;
    margin-right: 80px;
    margin-left: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

#botao:hover{
    background-color: #593caa;
    border: none;
    color: #ffffff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    display: flex;
    flex-flow: row wrap;
    height: 450px;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
}
.img-chamada{
    padding: 20px;

 } 
 
 .img-chamada img{
    border: 3px solid #593caa;
    width:580px;
   padding: 3px;
   box-shadow: 3px 6px  9px  #593caa;

 }

section{
    display: flex;
    flex-flow:row wrap;
    height: 800px;
    align-items: center;

    margin-top: -80px;
}

.iphone-img {
    flex:30%;
    margin-left: 10%;
    
    
}
.iphone-img img{
    width: 530px;
    margin-left: 30px;
   
}
    
.iphone-texto{
        margin-left: -120px;
        flex: 40%;
        margin-right: 190px;  
        
        
    }
 .iphone-texto h2, p{
    text-align: center;
    padding: 20px;
    margin-left: 100px;

 }



#if{
position:absolute;
margin-top: 75px;
margin-left: 219.6px;
width:214.9px;
height:379.5px ;

}
#foooter{
    width: 100%;
    height: 100%;
}



 footer{
    margin-top: 50px;
    padding: 100px;
    background-color: #ffc046;
    border-top:10px solid #593caa;
    text-align: center;
    padding: 0%; 
}

footer img{
    width: 420px;
    padding: 0%;
}
.footer1{
font-family: 'Courier New', Courier, monospace;
font-size: 15px;
margin-left: 25px;
padding-bottom: 2px;
}

::-webkit-scrollbar{
    width: 6px;
 
 }
 
 ::-webkit-scrollbar-track{
 background-color: #593caa;
 
 }
 
 ::-webkit-scrollbar-thumb{
     background-color: #ffc046;
 
     }